$box-width: 72rem;
$light-text-color: #aaaaaa;

#navbar{
    border: 1px solid white;
    box-shadow: 0 5px 5px 0 rgb(199, 199, 199);
    background-color: white;
           
    #nav-icon{
        background-color: white;
        border: none;
        color: black;
        text-align: center;
        line-height: 20px;
    }
    #ul-dropdown{
        margin-right: 20px;

        li{
            direction: rtl;
            text-align: right;
        }
        a{
            color: rgb(88, 88, 88);
        }
    }
    #ul-btn{
        margin-right: 20rem;
        a{
            color: rgb(88, 88, 88);
        }
    }
}
main{
    #request-box{
        width: $box-width;
        #req-firstrow{
            margin-left: 3rem;
            margin-right: 3rem;
            .col{
                color: rgba(87, 86, 86, 0.795);
                h1{
                    svg{
                        height: 25px;
                        width: 25px;
                    }
                }
                span{
                    font-weight: bold;
                }
            }
        }
        #req-secondrow{
            direction: rtl;
            #just-select{
                width: fit-content;
                margin: 10px 10px 25px 5px;
                .select-value{
                    padding: 10px 5px;
                }
            }
            #ticket-select{
                #city-select{
                    width: 25rem;
                    margin-right: 3px;
                    height: 2.5rem;
                    input{
                        width: 11rem; 
                        height: 2.5rem;
                     }
                }
                #date-select{
                    width: 20rem;
                    input{
                        width: 10rem; 
                        height: 2.5rem;
                     }
                     #return-date{
                        background-color: rgb(226, 226, 226);
                    }
                }
                #passengers{
                    #pass-select{
                        width: 10rem;
                        height: 2.5rem;
                        select{
                            background-image: none;
                            width: fit-content;
                            height: 2.5rem;
                            padding-right: 3px;
                            font-weight: bold;
                            option{
                                width: fit-content;
                                span{
                                    color: $light-text-color;
                                }
                            }
                        }
                    }
                }
                #pass-btn{
                    margin-right: 10px;
                    width: 11rem;
                    button{
                        width: 10rem;
                        height: 2.5rem;
                    }
                }
            }
        }
    }
    #airplane{
        margin-top: 15px;
    }
    #Questions{
        width: $box-width;
        margin-left: auto;
        margin-right: auto;
        direction: rtl;
        #qtitr{
            margin: 30px 0px 10px 30px;
            font-weight: bold;
        }
        button{
            padding-bottom: 5px;
            padding-top: 20px;
            p{
                font-size: 1rem;
                font-weight: bolder;
                text-align: right;
                width: 47rem;
                margin-left: 20rem;
                svg{
                    width: 30px;
                    height: 30px;
                    color: rgb(205, 255, 255);
                    background-color: rgba(0, 0, 255, 0.89);
                    border-radius: 50%;
                    margin-left: 20px;
                }
            }
        }
        .accordion-body{
            padding: 20px 4rem;
            font-size: 1rem;
        }
    }
    .main-paper{
        direction: rtl;
        text-align: justify;
        padding: 60px;
        
        #travel{
            float: left;
            margin: 0 30px 0 0;
        }
        p{
            line-height: 30px;
            a{
                text-decoration: none;
                font-weight: bold;
            }
        }
        h1{
            font-size: larger;
            font-weight: bolder;
        }
        h2{
            font-size: large;
            font-weight: bold;
        }
    }
}
footer{
    #footer1{
        margin: 30px 60px;
        .footer1{
            direction: rtl;
            img{
                float: right;
                margin-left: 20px;
            }
            p{
                color: rgb(100, 100, 100);
                line-height: 18px;
            }
        }
    }
    #footer2{
        margin: 30px 80px;
    }
    #footer3{
        margin-left: 75px;
        div{
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    #footer4{
        margin-left: 85px;
        div{
            margin: 15px 20px;
            a{
                svg{
                    width: 24px;
                    height: 24px;
                    color: rgb(105, 104, 104);
                }
            }
        }
    }
}

