$box-width: 72rem;
$light-text-color: #aaaaaa;

#navbar {
    border: 1px solid white;
    box-shadow: 0 5px 5px 0 rgb(199, 199, 199);
    background-color: white;

    #nav-icon {
        background-color: white;
        border: none;
        color: black;
        text-align: center;
        line-height: 20px;
    }

    #ul-dropdown {
        margin-right: 20px;

        li {
            direction: rtl;
            text-align: right;
        }

        a {
            color: rgb(88, 88, 88);
        }
    }

    #ul-btn {
        margin-right: 20rem;

        a {
            color: rgb(88, 88, 88);
        }
        li{
            #login-btn {
                border: none;
                background: none;
            }
        }
    }
}


main {
    #airplane {
        img{
            max-width: 100%;
            height: auto;
            margin-top: 10px;
            display: inline-block;
            position: relative;
        }
    }
    #request-box {
        width: $box-width;

        #req-firstrow {
            margin-left: 3rem;
            margin-right: 3rem;

            .req-box-icon {
                color: rgba(87, 86, 86, 0.795);

                h1 {
                    svg {
                        height: 25px;
                        width: 25px;
                    }
                }

                span {
                    font-weight: bold;
                }
            }
        }

        #req-secondrow {
            direction: rtl;

            #just-select {
                width: fit-content;
                margin: 10px 10px 25px 5px;

                .select-value {
                    padding: 10px 5px;
                }
            }

            #ticket-select {
                #city-select {
                    width: 25rem;
                    margin-right: 3px;
                    height: 2.5rem;

                    input {
                        width: 11rem;
                        height: 2.5rem;
                    }
                }

                #date-select {
                    width: 20rem;

                    input {
                        width: 10rem;
                        height: 2.5rem;
                    }

                    #back-date {
                        background-color: rgb(226, 226, 226);
                    }
                }

                #passengers {
                    #pass-select {
                        width: 10rem;
                        height: 2.5rem;

                        select {
                            background-image: none;
                            width: fit-content;
                            height: 2.5rem;
                            padding-right: 3px;
                            font-weight: bold;

                            option {
                                width: fit-content;

                                span {
                                    color: $light-text-color;
                                }
                            }
                        }
                    }
                }

                #pass-btn {
                    margin-right: 10px;
                    width: 11rem;

                    button {
                        width: 10rem;
                        height: 2.5rem;
                    }
                }
            }
        }
    }


    #Questions {
        direction: rtl;

        #qtitr {
            margin: 2rem 0px 10px 2rem;
            font-weight: bold;
        }

        button {
            padding-bottom: 20px;
            padding-top: 20px;
            svg {
                width: 2rem;
                height: 2rem;
                color: rgb(205, 255, 255);
                background-color: rgba(0, 0, 255, 0.89);
                border-radius: 50%;
                margin-left: 20px;
            }
            p {
                font-size: 1rem;
                font-weight: bolder;
                text-align: right;
                width: 90%;
                margin-left: 20px;
                margin-bottom: 0px;
            }
        }

        .accordion-body {
            padding: 20px 4rem;
            font-size: 1rem;
        }
    }
    #other-ser{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        #other-services{
            direction: rtl;
        }
        .o-ser{
            border: 1px rgb(226, 226, 226) solid;
            direction: rtl;
            .ser-link{
                text-decoration: none;
                color: black;
                width: 100%;
                display: inline-block;
                padding-top: .8rem;
                padding-bottom: .8rem;
                img{
                    margin-left: 10px;
                }
                span{
                    display: inline-block;
                    width: 75%;
                }
                svg{
                    color: rgb(160, 160, 160);
                }
            }
        }
    }

    .main-paper {
        direction: rtl;
        text-align: justify;
        margin: 60px 6rem 30px 6rem;

        #travel {
            float: left;
            margin: 0 30px 0 0;
            max-width: 100%;
            height: auto;
        }

        p {
            line-height: 30px;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}

footer {
    #footer1 {
        direction: rtl;
        margin-top: 50px;
        margin-bottom: 50px;

        .footer1 {
            width: 20rem;

            p {
                color: rgb(100, 100, 100);
                line-height: 18px;
                text-align: right;
                font-size: .9rem;
            }
        }
    }

    #footer2 {
        margin: 30px 0px;
    }

    #footer3 {

        div {
            a {
                text-decoration: none;
                color: black;
            }
        }
    }

    #footer4 {
        margin-left: 85px;

        div {
            margin: 15px 20px;

            a {
                svg {
                    width: 24px;
                    height: 24px;
                    color: rgb(105, 104, 104);
                }
            }
        }
    }
}

// group-tour-page:
#tour-page{
    background-color: whitesmoke;
    #tour-group-img{
        height: auto;
        width: 100%;
    }
    #tour-page-top{
        box-shadow: 0 5px 5px 0 rgb(243, 243, 243);
        background-color: white;
        #tour-page-titr{
            text-align: center;
            padding: 5px 0px;
            line-height: 50px;
            p{
                color: #929292;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }
    .alibab-tours{
        text-align: center;
        direction: rtl;
        // .cards.titr{
        //     padding-top: 50px;
        //     padding-bottom: 20px;
        //     // margin-top: 25px;
        //     // margin-bottom: 25px;
        // }
        .tour-cards{
            .card{
                width: 17.5rem;
                height: 21rem;
                padding: 0px;
                img{
                    display: inline-block;
                    height: 10rem;
                }
                a{
                    text-decoration: none;
                    color: black;
                    .card-body{
                        text-align: right;
                        h5{
                            letter-spacing: 0px;
                        }
                        p{
                            .price{
                                color: blue;
                                display: inline-block;
                                margin-right: 1.5rem;
                                font-weight: bolder;
                                font-size: large;
                            }
                            .dot{
                                font-weight: bolder;
                                font-size: large;
                            }
                        }
                    }
                }
            }
        }
    }
}

// login-page
#login-body{
    background-color: whitesmoke;
    #login-container{
        padding-top: 30px;
        padding-bottom: 50px;
        #login-box{
            direction: rtl;
            background-color: white;
            border: 1px solid white;
            border-radius: 10px;
            box-shadow: 3px 3px 10px rgb(255, 237, 203);
            #login-pic{
                text-align: center;
                direction: rtl;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            #login-form{
                padding: 40px 10px 5px ;
                #login-btn{
                    background-color: orange;
                    border: 1px solid orange;
                }
            }

        }
    } 
}