#navbar {
  border: 1px solid white;
  box-shadow: 0 5px 5px 0 rgb(199, 199, 199);
  background-color: white;
}
#navbar #nav-icon {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  line-height: 20px;
}
#navbar #ul-dropdown {
  margin-right: 20px;
}
#navbar #ul-dropdown li {
  direction: rtl;
  text-align: right;
}
#navbar #ul-dropdown a {
  color: rgb(88, 88, 88);
}
#navbar #ul-btn {
  margin-right: 20rem;
}
#navbar #ul-btn a {
  color: rgb(88, 88, 88);
}
#navbar #ul-btn li #login-btn {
  border: none;
  background: none;
}

main #airplane img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: inline-block;
  position: relative;
}
main #request-box {
  width: 72rem;
}
main #request-box #req-firstrow {
  margin-left: 3rem;
  margin-right: 3rem;
}
main #request-box #req-firstrow .req-box-icon {
  color: rgba(87, 86, 86, 0.795);
}
main #request-box #req-firstrow .req-box-icon h1 svg {
  height: 25px;
  width: 25px;
}
main #request-box #req-firstrow .req-box-icon span {
  font-weight: bold;
}
main #request-box #req-secondrow {
  direction: rtl;
}
main #request-box #req-secondrow #just-select {
  width: fit-content;
  margin: 10px 10px 25px 5px;
}
main #request-box #req-secondrow #just-select .select-value {
  padding: 10px 5px;
}
main #request-box #req-secondrow #ticket-select #city-select {
  width: 25rem;
  margin-right: 3px;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #city-select input {
  width: 11rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #date-select {
  width: 20rem;
}
main #request-box #req-secondrow #ticket-select #date-select input {
  width: 10rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #date-select #back-date {
  background-color: rgb(226, 226, 226);
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select {
  width: 10rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select {
  background-image: none;
  width: fit-content;
  height: 2.5rem;
  padding-right: 3px;
  font-weight: bold;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select option {
  width: fit-content;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select option span {
  color: #aaaaaa;
}
main #request-box #req-secondrow #ticket-select #pass-btn {
  margin-right: 10px;
  width: 11rem;
}
main #request-box #req-secondrow #ticket-select #pass-btn button {
  width: 10rem;
  height: 2.5rem;
}
main #Questions {
  direction: rtl;
}
main #Questions #qtitr {
  margin: 2rem 0px 10px 2rem;
  font-weight: bold;
}
main #Questions button {
  padding-bottom: 20px;
  padding-top: 20px;
}
main #Questions button svg {
  width: 2rem;
  height: 2rem;
  color: rgb(205, 255, 255);
  background-color: rgba(0, 0, 255, 0.89);
  border-radius: 50%;
  margin-left: 20px;
}
main #Questions button p {
  font-size: 1rem;
  font-weight: bolder;
  text-align: right;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 0px;
}
main #Questions .accordion-body {
  padding: 20px 4rem;
  font-size: 1rem;
}
main #other-ser {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
main #other-ser #other-services {
  direction: rtl;
}
main #other-ser .o-ser {
  border: 1px rgb(226, 226, 226) solid;
  direction: rtl;
}
main #other-ser .o-ser .ser-link {
  text-decoration: none;
  color: black;
  width: 100%;
  display: inline-block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
main #other-ser .o-ser .ser-link img {
  margin-left: 10px;
}
main #other-ser .o-ser .ser-link span {
  display: inline-block;
  width: 75%;
}
main #other-ser .o-ser .ser-link svg {
  color: rgb(160, 160, 160);
}
main .main-paper {
  direction: rtl;
  text-align: justify;
  margin: 60px 6rem 30px 6rem;
}
main .main-paper #travel {
  float: left;
  margin: 0 30px 0 0;
  max-width: 100%;
  height: auto;
}
main .main-paper p {
  line-height: 30px;
}
main .main-paper p a {
  text-decoration: none;
  font-weight: bold;
}

footer #footer1 {
  direction: rtl;
  margin-top: 50px;
  margin-bottom: 50px;
}
footer #footer1 .footer1 {
  width: 20rem;
}
footer #footer1 .footer1 p {
  color: rgb(100, 100, 100);
  line-height: 18px;
  text-align: right;
  font-size: 0.9rem;
}
footer #footer2 {
  margin: 30px 0px;
}
footer #footer3 div a {
  text-decoration: none;
  color: black;
}
footer #footer4 {
  margin-left: 85px;
}
footer #footer4 div {
  margin: 15px 20px;
}
footer #footer4 div a svg {
  width: 24px;
  height: 24px;
  color: rgb(105, 104, 104);
}

#tour-page {
  background-color: whitesmoke;
}
#tour-page #tour-group-img {
  height: auto;
  width: 100%;
}
#tour-page #tour-page-top {
  box-shadow: 0 5px 5px 0 rgb(243, 243, 243);
  background-color: white;
}
#tour-page #tour-page-top #tour-page-titr {
  text-align: center;
  padding: 5px 0px;
  line-height: 50px;
}
#tour-page #tour-page-top #tour-page-titr p {
  color: #929292;
  font-weight: bold;
  font-size: 1.2rem;
}
#tour-page .alibab-tours {
  text-align: center;
  direction: rtl;
}
#tour-page .alibab-tours .tour-cards .card {
  width: 17.5rem;
  height: 21rem;
  padding: 0px;
}
#tour-page .alibab-tours .tour-cards .card img {
  display: inline-block;
  height: 10rem;
}
#tour-page .alibab-tours .tour-cards .card a {
  text-decoration: none;
  color: black;
}
#tour-page .alibab-tours .tour-cards .card a .card-body {
  text-align: right;
}
#tour-page .alibab-tours .tour-cards .card a .card-body h5 {
  letter-spacing: 0px;
}
#tour-page .alibab-tours .tour-cards .card a .card-body p .price {
  color: blue;
  display: inline-block;
  margin-right: 1.5rem;
  font-weight: bolder;
  font-size: large;
}
#tour-page .alibab-tours .tour-cards .card a .card-body p .dot {
  font-weight: bolder;
  font-size: large;
}

#login-body {
  background-color: whitesmoke;
}
#login-body #login-container {
  padding-top: 30px;
  padding-bottom: 50px;
}
#login-body #login-container #login-box {
  direction: rtl;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(255, 237, 203);
}
#login-body #login-container #login-box #login-pic {
  text-align: center;
  direction: rtl;
}
#login-body #login-container #login-box #login-pic img {
  width: 100%;
  height: auto;
}
#login-body #login-container #login-box #login-form {
  padding: 40px 10px 5px;
}
#login-body #login-container #login-box #login-form #login-btn {
  background-color: orange;
  border: 1px solid orange;
}

/*# sourceMappingURL=style.css.map */
