#navbar {
  border: 1px solid white;
  box-shadow: 0 5px 5px 0 rgb(199, 199, 199);
  background-color: white;
}
#navbar #nav-icon {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  line-height: 20px;
}
#navbar #ul-dropdown {
  margin-right: 20px;
}
#navbar #ul-dropdown li {
  direction: rtl;
  text-align: right;
}
#navbar #ul-dropdown a {
  color: rgb(88, 88, 88);
}
#navbar #ul-btn {
  margin-right: 20rem;
}
#navbar #ul-btn a {
  color: rgb(88, 88, 88);
}
#navbar #ul-btn li #login-btn {
  border: none;
  background: none;
}

main #airplane img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  display: inline-block;
}
main #request-box {
  width: 72rem;
}
main #request-box #req-firstrow {
  margin-left: 3rem;
  margin-right: 3rem;
}
main #request-box #req-firstrow .col {
  color: rgba(87, 86, 86, 0.795);
}
main #request-box #req-firstrow .col h1 svg {
  height: 25px;
  width: 25px;
}
main #request-box #req-firstrow .col span {
  font-weight: bold;
}
main #request-box #req-secondrow {
  direction: rtl;
}
main #request-box #req-secondrow #just-select {
  width: fit-content;
  margin: 10px 10px 25px 5px;
}
main #request-box #req-secondrow #just-select .select-value {
  padding: 10px 5px;
}
main #request-box #req-secondrow #ticket-select #city-select {
  width: 25rem;
  margin-right: 3px;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #city-select input {
  width: 11rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #date-select {
  width: 20rem;
}
main #request-box #req-secondrow #ticket-select #date-select input {
  width: 10rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #date-select #back-date {
  background-color: rgb(226, 226, 226);
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select {
  width: 10rem;
  height: 2.5rem;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select {
  background-image: none;
  width: fit-content;
  height: 2.5rem;
  padding-right: 3px;
  font-weight: bold;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select option {
  width: fit-content;
}
main #request-box #req-secondrow #ticket-select #passengers #pass-select select option span {
  color: #aaaaaa;
}
main #request-box #req-secondrow #ticket-select #pass-btn {
  margin-right: 10px;
  width: 11rem;
}
main #request-box #req-secondrow #ticket-select #pass-btn button {
  width: 10rem;
  height: 2.5rem;
}
main #Questions {
  width: 72rem;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
}
main #Questions #qtitr {
  margin: 30px 0px 10px 30px;
  font-weight: bold;
}
main #Questions button {
  padding-bottom: 5px;
  padding-top: 20px;
}
main #Questions button p {
  font-size: 1rem;
  font-weight: bolder;
  text-align: right;
  width: 47rem;
  margin-left: 20rem;
}
main #Questions button p svg {
  width: 30px;
  height: 30px;
  color: rgb(205, 255, 255);
  background-color: rgba(0, 0, 255, 0.89);
  border-radius: 50%;
  margin-left: 20px;
}
main #Questions .accordion-body {
  padding: 20px 4rem;
  font-size: 1rem;
}
main #other-services {
  margin: 30px 6rem 3px 0px;
  direction: rtl;
}
main #other-ser {
  margin: 20px 5.5rem;
}
main #other-ser .o-ser {
  width: 23rem;
  border: 1px rgb(226, 226, 226) solid;
  direction: rtl;
  padding: 15px;
}
main #other-ser .o-ser .ser-link {
  text-decoration: none;
  color: black;
  width: 100%;
}
main #other-ser .o-ser .ser-link img {
  margin-left: 10px;
}
main #other-ser .o-ser .ser-link span {
  display: inline-block;
  width: 6rem;
}
main #other-ser .o-ser .ser-link svg {
  margin-right: 10rem;
  color: rgb(160, 160, 160);
}
main .main-paper {
  direction: rtl;
  text-align: justify;
  margin: 60px 6rem 30px 6rem;
}
main .main-paper #travel {
  float: left;
  margin: 0 30px 0 0;
}
main .main-paper p {
  line-height: 30px;
}
main .main-paper p a {
  text-decoration: none;
  font-weight: bold;
}

footer #footer1 {
  margin: 30px 60px;
}
footer #footer1 .footer1 {
  direction: rtl;
}
footer #footer1 .footer1 img {
  float: right;
  margin-left: 20px;
}
footer #footer1 .footer1 p {
  color: rgb(100, 100, 100);
  line-height: 18px;
}
footer #footer2 {
  margin: 30px 80px;
}
footer #footer3 {
  margin-left: 75px;
}
footer #footer3 div a {
  text-decoration: none;
  color: black;
}
footer #footer4 {
  margin-left: 85px;
}
footer #footer4 div {
  margin: 15px 20px;
}
footer #footer4 div a svg {
  width: 24px;
  height: 24px;
  color: rgb(105, 104, 104);
}

/*# sourceMappingURL=style.css.map */
